.ShareSnippet {
  font-weight: bold;
  margin-bottom: 1em;
}

.ShareSnippet button { 
  font-weight: bold;
  margin-bottom: 1em;
  border: none;
  background-color: green;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.ShareSnippet-prompt {
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
}

@keyframes pulsate {
  0% {
      opacity: 0.5;
  }
  50% {
      opacity: 1.0;
  }
  100% {
      opacity: 0.5;
  }
}
